<%include ../partial/header%>

<div class="ui main text container segment">
    
    <div class="form">
    
    <h1>Create a New Dog type</h1>

    <br>
    <br>
    
    <form action="/" method = "POST" class="px-4 py-3">
        
        <label for="dog_name">Dog title</label>
        <br>
        <input type="text" class="form-control" id="dog_name" placeholder="Dog title" name = "title">
        
        <br>
        <label for="URL">URL</label>
        <br>
        <input type="text" class="form-control" id="URL" placeholder="URL" name = "URL">
        
        <br>
        <label for="Des">URL</label>
        <br>
        
        <textarea type="text" class="form-control" id="Des" placeholder="Content" name = "content"></textarea>
        
        <br>
        <button type="submit" class="btn btn-primary">Submit</button>
        <br>
        <br>
    </form>
</div>
    
</div>

<%include ../partial/footer%>