<%include ../partial/header%>

<h1>Welcome to secret page!!!!</h1>

<img src="https://static.parade.com/wp-content/uploads/2018/03/golden-puppy-life-national-geographic-ftr-1.jpg">

<%include ../partial/footer%>