<!DOCTYPE html>
<html>
    <head>
        <title>
            Demp App
        </title>
  
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <link rel="stylesheet" type="text/css "href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    </head>
 <body>
     
<div class="ui fixed inverted menu">
    <div class = "ui container">
            <div class="header item"> <i class="terminal icon"></i>Blog Site</div>
            <a href="/" class="item">Home</a>
         
            <a href="/new" class="item">Add</a>
            <a href="/register" class="item">Register</a>
            <a href="/login" class="item">Login</a>
            <a href="/logout" class="item">logout</a>
    </div>
</div>
     
<br>
<br>
<br>

<div class="container">
  
  <div class="jumbotron">
  <h2>Puppy Gallery</h2>
  
</div>